@font-face {
  font-family: Silkscreen;
  src: local("Silkscreen"),
       url(/cookbook/fonts/slkscr.ttf);
}

.url {
    font-family: Silkscreen, monospace;
}

tr {
    line-height: 12px;
}
.missing a {
    color: red;
}
a.makebutton {
    text-transform: uppercase;
    font-size: smaller;
    color: white;
    background: lightgray;
    padding: 2px;
    font-style: normal;
    text-decoration: none;
}
.makebutton:hover {
    background: gray;
}
.remake {
    font-style: italic;
}
.remake .makebutton {
    background: #444;
}
.remake .makebutton:hover {
    background: black
}
.missing .makebutton {
    background: #F44;
}
.missing .makebutton:hover {
    background: #F00;
}
