<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/__makeserver__/index.css">
    <script src="/__makeserver__/draggable/draggable.js"></script>
    <link rel="stylesheet" type="text/css" href="/__makeserver__/draggable/draggable.css">
    <script src="/__makeserver__/index.js"></script>
<style>
form.target {
  display: inline;
}
#filecontrols {
  display: none;
  position: absolute;
  left: 0px;
  top: 18px;
  z-index: 1;
  width: 420px;
  border-top: 5px solid aqua;
  background: aqua;
  padding: 5px;
}
td.filecontrols {
  position: relative;
}
td.filecontrols.active {
  background: aqua;
}
</style>
</head>
<body>
<h1>Index of {{ request_label }}</h1>
  <table>
   <tr><th valign="top">&nbsp;</th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
   <tr><th colspan="5"><hr></th></tr>
{% if parent_link %}
<tr><td valign="top">&nbsp;</td><td><a href="{{ parent_link }}">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
{% endif %}
{% for item in items %}
{% if item.is_dir %}
<tr class="{{item.classes}}"><td class="filecontrols" valign="top"><a class="filecontrols" href="{{item.link}}"><img src="/__makeserver__/icons/directory.symbolic.png" alt="[DIR]"></a></td><td class="filename"><a href="{{item.link}}">{{item.label}}</a></td><td align="right">{% if item.lasmod %}{{item.lastmod | strftime("%Y-%m-%d %H:%M")}}{%else%}&mdash;{%endif%}</td><td align="right">  - </td><td>&nbsp;</td></tr>
{% else %}
<tr class="{{item.classes}}"><td class="filecontrols" valign="top"><a class="filecontrols" href="{{item.link}}?edit"><img src="/__makeserver__/icons/{% if item.is_text %}text{%else%}generic{%endif%}.symbolic.png" alt="[   ]" border="0"></a></td><td class="filename"><a href="{{item.link}}{% if item.remake %}?preview{% endif %}">{{item.label}}</a></td><td align="right">{% if item.lastmod %}{{item.lastmod | strftime("%Y-%m-%d %H:%M")}}{%else%}&mdash;{%endif%} </td><td align="right">{{item.size|humanize_bytes}}</td><td>&nbsp;</td></tr>
{% endif %}
{% endfor %}
</table>
<div id="buttons" style="margin-top: 1em">
  <button id="touch">touch</button>
  <span id="targetbuttons">
    <!-- Targets are implemented as actions that get triggered on a particular directory
    They are implemented as forms that post to the CWD (rpath or request_label) with ?target=NAME -->
    {% for t in targets %}
    <form class="target" action="{{rurl}}"><input type="submit" name="target" value="{{t}}"></form>{% endfor %}
  </span>
</div>
<div id="filecontrols">
  <button id="touchfile">touch</button>
  <button id="editfile">edit</button>
  <button id="renamefile">rename</button>
  <button id="deletefile">delete</button>
<!--   <button id="remakefile">remake</button>
  <div id="filecontrolsokbuttons">
    <button id="filecontrolsok">OK</button>
    <button id="filecontrolscancel">cancel</button>
  </div>
 -->
</div>
<script>
function post (url, data, callback) {
    var request = new XMLHttpRequest();
    request.open('POST', url, true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    // request.setRequestHeader('Content-Type', 'application/octet-stream');
    request.onload = function() {
      if (request.readyState == XMLHttpRequest.DONE && request.status >= 200 && request.status < 400) {
        // Success!
        var resp = request.responseText;
        callback(null, resp);
      } else {
        callback("server error");
      }
    };
    request.onerror = function() {
        callback("connection error");
    };
    var sdata = "";
    for (var key in data) {
        if (data.hasOwnProperty(key)) {
            sdata += (sdata?"&":"") + key+"="+encodeURIComponent(data[key]);
        }
    }
    request.send(sdata);            
}

var touch = document.getElementById("touch");
touch.addEventListener("click", function () {
	var name = prompt("touch");
	if (name) {
		var path = window.location.pathname + name;
    post(path, {"touch": "1"}, function (err, data) {
      if (err) {
        alert("ERROR: " + err);
      } else {
        window.location.reload();
      }
    });
	}
}, false);


function hasClass (el, className) {
  if (el.classList)
    return el.classList.contains(className);
  else
    return new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
}


var fc = document.getElementById("filecontrols");
Array.prototype.slice.call(document.querySelectorAll("a.filecontrols")).forEach(function (x) {
  x.addEventListener("click", function (e) {
    e.preventDefault();
    if (hasClass(x.parentNode, "active")) {
      fc.style.display = "none";
      x.parentNode.classList.remove("active");
    } else {
      x.parentNode.appendChild(fc);
      fc.style.display = "block";
      x.parentNode.classList.add("active");
    }
  })
});
fc.addEventListener("mouseleave", function () {
  fc.style.display = "none";
  Array.prototype.slice.call(document.querySelectorAll("td.filecontrols.active")).forEach(function (x) {
    x.classList.remove("active");
  });
});
fc.querySelector("#editfile").addEventListener("click", function () {
  var td = document.querySelector("td.filecontrols.active"),
    td2, td2a, originalPath;
  if (td) {
    td2 = td.parentNode.querySelector("td.filename");
    td2a = td2.querySelector("a");
    originalPath = td2a.textContent;
    window.open(originalPath+"?edit", originalPath);
  }
});
fc.querySelector("#touchfile").addEventListener("click", function () {
  var td = document.querySelector("td.filecontrols.active"),
    td2, td2a, originalPath;
  if (td) {
    td2 = td.parentNode.querySelector("td.filename");
    td2a = td2.querySelector("a");
    originalPath = td2a.textContent;
    post(originalPath, {"touch": "1"}, function (err, response) {
      if (err) {
        alert("ERROR: " + err);
      } else {
        window.location.reload();
      }
    })
  }
});
fc.querySelector("#deletefile").addEventListener("click", function () {
  var td = document.querySelector("td.filecontrols.active"),
    td2, td2a, originalPath;
  if (td) {
    td2 = td.parentNode.querySelector("td.filename");
    td2a = td2.querySelector("a");
    originalPath = td2a.textContent;
    if (confirm("Delete \"" + originalPath + "\"\nAre you sure?")) {
      post(originalPath, {"delete": "1"}, function (err, response) {
        if (err) {
          alert("ERROR: " + err);
        } else {
          window.location.reload();
        }
      })
    }
  }
});
fc.querySelector("#renamefile").addEventListener("click", function () {
  var td = document.querySelector("td.filecontrols.active"),
    td2, td2a, t, exit, originalPath;

  if (td) {
    exit = function () {
      t.remove();
      td2a.style.display = "inline";
    }
    td2 = td.parentNode.querySelector("td.filename");
    td2a = td2.querySelector("a");
    originalPath = td2a.textContent;
    console.log("rename", td, td2, td2a, originalPath);
    t = document.createElement("input");
    td2a.style.display = "none";
    t.value = originalPath;
    td2.appendChild(t);
    t.focus();
    t.addEventListener("keypress", function (e) {
      // console.log("keypress", e, e.keyCode);
      if (e.keyCode == 13) {
        console.log("ENTER");
        var path = window.location.pathname + originalPath;
        post(path, {"rename": "1", "to": t.value}, function (err, resp) {
          if (err) {
            exit();
            alert("ERROR: " + err);
          } else {
            // exit();
            window.location.reload();
          }
        });
        // exit();
      } else if (e.keyCode == 27) {
        // console.log("ESCAPE");
        exit();
      }
    });

  }
});

</script>
</body>
</html>
